a.black-btn {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  text-transform: uppercase;
  font-family: opensans-bold;
  color: #fff;
  background: #000;
  padding: 8px 16px;
  border: 1px solid transparent;
  text-decoration: none;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
a.black-btn:hover {
  background: transparent;
  color: #000;
  border-color: #000;
}
