.content div.workbench-info-block {
  padding: 20px 15px;
  line-height: 1.8;

  .form-select {
    width: auto;
  }

  .form-submit {
    display: block;
    color: #ffffff;
    background: #000;

    &:hover {
      color: #000;
      background: transparent;
      border: 1px solid #000;
    }
  }
}