.search-form {
  max-width: 500px;
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 5px;
  }

  input:not([type=submit]):not([type=checkbox]):not([type=radio]) {
    border: 1px solid $color;
    @include input-placeholder($color);
    color: $color;
    font-size: 11px;
    padding: 5px 25px 5px 9px;
    height: 25px;
    line-height: 25px;
  }

  .form-submit {
    margin-top: 14px;
    text-align: right;
    cursor: pointer;
    font-family: $opensans-semibold;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #fff;
    background: $color-f;
    padding: 2px 11px;
    text-decoration: none;
    border: 1px solid $color-a;
    @include transition(background .4s, color .4s);

    &:hover {
      background: $color-g;
    }
  }
}