.form-timeline {
  margin-bottom: 10px;

  @media (min-width: $bp-small) {
    float: right;
    margin-top: 3px;
    margin-bottom: 0;
  }

  @media (min-width: $bp-middle) {
    margin-top: 7px;
  }

  .form-type-select {
    margin: 0;
    min-width: 274px;

    .select2-container {
      width: 100%;
    }
  }
}